/* reset  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* common */
body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.center {
    position: relative;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* buttons  */
a {
    text-decoration: none;
}
.btn {
    background-color: white;
    color: black;
    padding: .5em 1em;
    border-radius: 2em;
}
.btn-black {
    background-color: #23272A;
    color: white;
}

/* header  */
header {
    position: fixed;
    width: 100%;
    background-color: #3161E0;
    z-index: 10;
}
header div {
    height: 70px;
}

.nav-logo {
    float: left;
}

.main-nav {
    text-align: center;
}
.main-nav li {
    display: inline-block;
    margin-right: 1em;
}
.main-nav li:last-child {
    margin-right: 0;
}
.main-nav a {
    color: #fff;
    font-size: .875em;
}

.nav-btn {
    float: right;
    font-size: .75em;
}


/* hero section  */
.hero {
    height: 600px;
    width: 100%;
    padding-top: 70px;

    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;

    position: relative;

    color: white;
}
h1 {
    font-size: 3em;
    font-weight: 900;
}
p {
    margin: 2em 0 1.5em;
    line-height: 1.5em;
}
.buttons .btn:first-child {
    margin-right: 1.5em;
}

/* section's floats */
.img-left img {
    float: left;
    width: 50%;
}
.img-left .section-text {
    float: right;
    width: 40%;
}

.img-right img {
    float: right;
    width: 50%;
}
.img-right .section-text {
    float: left;
    width: 40%;
}

section {
    padding: 50px 0;
}